__pycache__/
*.py[cod]
*$py.class

vscode/
temp/
checkpoints/
exp/
exps/
search_data/
fid_stats/

# EMS
edm-cifar10-32x32-uncond-vp/
cifar10_ddpmpp_deep_continuous/
imagenet256_guided/
lsun_beds256/
sd-v1-4/
statistics/

fixed_noise/
fixed_noises/
# exceptions
!codebases/latent_diffusion/ldm/models/